
.CardIMG {
    width: 160px;
    height: 210px;
    overflow: auto;
}
.FirstCard {
    background-image: url('http://fe.it-academy.by/Examples/cards2.png');
    width: 140px;
    height: 190px;
    overflow: hidden;
    background-position: 0px 190px;
}
.SecondCard {
    background-image: url('http://fe.it-academy.by/Examples/cards2.png');
    width: 140px;
    height: 190px;
    overflow: hidden;
    background-position: -290px 580px;
}