* {
    margin-bottom: 20px;
}
p {
    color: blue;
}
ul {
    color: green;
    list-style-type: square;
}

h1 {
    border: red dotted; 
    box-sizing: border-box;
    background-color: yellow;
    margin-bottom: auto;
}
footer {
    border: solid green 1px;
    font-family:monospace;
}
.Main_Information {
    border: solid green 1px;
    padding: 20px;
    width: 15cm;
    background-image: url('http://fe.it-academy.by/Examples/SG1998.jpg');
    background-repeat: no-repeat;
    background-position: center ;
}
.Firstpar {
    text-align: right;
}
.secondpar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}
.ThirdPar {
    font-family: cursive;
    word-spacing: 10px;
    line-height: 20px;
}
.Albums {
    border-top: dotted 1px;
    border-right: double red;
    border-bottom: green solid;
    border-left: solid 1px blue;
    background-image: url('http://fe.it-academy.by/Examples/skrip.gif');
}