div {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    & > input {
        height: 20px;
    }
    & > select {
        height: 20px;
    }
}

.check {
    display: flex;
    justify-content: left;
}

.text-area {
    display: flex;
    flex-direction: column;
    height: 100px;
    & > textarea {
        height: 100px;
    }
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.incorrect {
    border: 2px solid red;
}

.correct {
    border: 2px solid green;
}
