main {
  font-family: "Roboto", sans-serif;
  color: black;
  width: 1440px;
}

.banner {
  font-family: "Roboto", sans-serif;
  height: 46px;
  background: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.banner p {
  top: 11px;
  position: relative;
  color: white;
}

.head {
  background: url(./head/backgr.png) no-repeat;
  height: 800px;
  position: relative;
}

header {
  margin: auto;
  width: 1140px;
  height: 87px;
  display: flex;
  justify-content: space-between;
}

ul {
  width: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
ul li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  font-size: 85px;
  font-weight: 400;
  line-height: 93.5px;
  position: absolute;
  text-align: center;
  bottom: 405px;
  width: 900px;
  left: 50%;
  transform: translate(-50%, 0);
}

#logo {
  position: absolute;
  width: 121px;
  height: 161px;
  gap: 0px;
  opacity: 0px;
  top: 31px;
  left: 659.5px;
}

#language {
  position: absolute;
  width: 18px;
  height: 24px;
  top: 32px;
  right: 31px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#scroll_down {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  bottom: 6.5px;
  left: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scroll_down svg {
  position: absolute;
  width: 15px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}

.cookies {
  position: absolute;
  width: 392px;
  height: 57px;
  bottom: 60px;
  left: 1018px;
  gap: 0px;
  opacity: 0px;
  border-radius: 78px;
  background: black;
}
.cookies button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  width: 62px;
  height: 35px;
  gap: 0px;
  border-radius: 17.5px;
  opacity: 0px;
  background: #f5afb9;
}
.cookies span {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.cookies .first_cookie {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
}
.cookies .second_cookie {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 135px;
}

.orange_background {
  background: #ed7b49;
}

.container_orange {
  width: 1140px;
  height: 3448.97px;
  top: 1.59px;
  left: 150px;
  gap: 0px;
  opacity: 0px;
  position: relative;
  border: black solid;
}
.container_orange #no_gluten {
  position: absolute;
  width: 210px;
  height: 210px;
  top: 76px;
  left: 123px;
  gap: 0px;
  opacity: 0px;
}
.container_orange .wildly_loved {
  width: 491px;
  height: 149px;
  position: absolute;
  top: 149px;
  right: 159px;
}
.container_orange .wildly_loved h2 {
  font-family: Roboto;
  font-size: 85px;
  font-weight: 700;
  line-height: 93.5px;
  text-align: left;
}
.container_orange .wildly_loved p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-wrap: wrap;
}/*# sourceMappingURL=style.css.map */