/* * {
    height: 500px;
} */

.left {
    background:  url(../../HWORK/hw5_maket/bal.png) top left no-repeat,
    url(../../HWORK/hw5_maket/bal.png) top right no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom left no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom right no-repeat, url(green-back.gif) repeat;
    width: 20%;
    /* float: left; */
    
}

.middle {
    background: pink;
    overflow: auto;
}

.right {
    background:  url(../../HWORK/hw5_maket/bal.png) top left no-repeat,
    url(../../HWORK/hw5_maket/bal.png) top right no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom left no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom right no-repeat, url(yellow-back.gif) repeat;
    width: 200px;
    /* float: right; */
   
}

.rasp {
    clear: both;
}

.main {
    background: red;
    display: flex;
}

.ball {
    background: url(../../HWORK/hw5_maket/bal.png) top left no-repeat,
    url(../../HWORK/hw5_maket/bal.png) top right no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom left no-repeat,
     url(../../HWORK/hw5_maket/bal.png) bottom right no-repeat;
}